extends ../layout
block content
    h1 Edit User
    //- h1= u
    form.pure-form.pure-form-stacked(id="login" method="post" action="/logic/admin/updateuser/" + u.id)
        label(for="email") Email
        input.txt(type="text" id="email" name="email" value=u.email)
        label(for="school") School
        input.txt(type="text" id="school" name="school" value=u.school)
        label(for="member1") Member 1
        input.txt(type="text" id="member1" name="member1" value=u.member1.name)  
        label(for="member2") Member 2
        input.txt(type="text" id="member2" name="member2" value=u.member2.name)  
        label(for="member3") Member 3
        input.txt(type="text" id="member3" name="member3" value=u.member3.name)
    
        label(for="password") Member 1 Score
        input.txt(type="text" id="wmember1" name="wmember1" value=u.member1.written)
        label(for="password") Member 2 Score
        input.txt(type="text" id="wmember2" name="wmember2" value=u.member2.written)
        label(for="password") Member 3 Score
        input.txt(type="text" id="wmember3" name="wmember3" value=u.member3.written)
        
            
        label(for="password") Password
        input.txt(type="password" id="password" name="password")
        button.btn.pure-button.pure-button-primary(type="submit") Submit